body {
    padding-top: 50px;
    background: #f1f2f4;
}

a, a:hover, a:active, a:focus {
    text-decoration: none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
}

.container {
    width: 975px;
    max-width: none !important;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    box-shadow: 0 0 25px #000000;
    background: #ffffff;
}

footer {
    background: #ffffff;
    box-shadow: 0 0 5px #000000;
}

.navbar-brand, .navbar-brand:hover {
    color: #2C3838;
}

.navbar-brand span {
    color: #8FB6B5;
}

.player-controls, .sound-controls {
    padding: 10px;
}

.player-time {
    line-height: 30px;
    font-size: 12px;
}

.btn-player {
    background: none;
    border: none;
    padding: 0;
    outline: none;
}

.player-progress-bar {
    background: #F0F0F0;
    height: 4px;
    margin-top: 13px;
    position: relative;
}

.player-progress-bar > div {
    background-color: #61BDE2;
    height: 100%;
    width: 0;
    position: absolute;
    left: 0;
}

.player-progress-bar > .load-progress {
    background-color: #cccccc;
}

.player-progress-bar > .sound-progress {
    width: 100%;
}

.left-padding-only {
    padding-left: 30px;
    padding-right: 0;
}

.right-padding-only {
    padding-left: 0;
    padding-right: 30px;
}

.no-padding {
    padding: 0;
}

.picture {
    border-radius: 50%;
    width: 40px;
    margin-top: 5px;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    cursor: pointer;
    vertical-align: sub;
}

.login-form {
    margin-top: 10px;
}

.logout {
    display: none;
    position: absolute;
    background: white;
    right: 15px;
    top: 50px;
    box-shadow: 0px 5px 5px rgba(0,0,0,.5);
}

/* Temporary style */
.body-content, footer {
    text-align: center;
}